[submodule "VeritasParser/Library/pegkit"]
	path = VeritasParser/Library/pegkit
	url = https://github.com/itod/pegkit.git
[submodule "Lua/Library/freetype-gl"]
	path = Lua/Library/freetype-gl
	url = https://github.com/veritas-shine/freetype-gl.git
[submodule "Vendor/LuaSDL"]
	path = Vendor/LuaSDL
	url = https://github.com/veritas-shine/luasdl2.git
[submodule "Vendor/SDL"]
	path = Vendor/SDL
	url = https://github.com/veritas-shine/sdl-mirror.git
[submodule "Vendor/SDL_ttf"]
	path = Vendor/SDL_ttf
	url = https://github.com/veritas-shine/SDL2_ttf.git
[submodule "Vendor/SDL_image"]
	path = Vendor/SDL_image
	url = https://github.com/veritas-shine/SDL2_image.git
[submodule "Vendor/SDL_mixer"]
	path = Vendor/SDL_mixer
	url = https://github.com/veritas-shine/SDL2_mixer.git
[submodule "Vendor/SDL_net"]
	path = Vendor/SDL_net
	url = https://github.com/veritas-shine/SDL2_net.git
