.DS_Store

*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
LuaIOS.xcodeproj/xcuserdata/
LuaKit/LuaKit.xcodeproj/xcuserdata/
LuaKit/build/
LuaKit/LuaKit.xcodeproj/xcuserdata/
VeritasParser/VeritasParser.xcodeproj/xcuserdata/
Lua/.idea/
Lua/Diamond/.idea/
.idea/