.DS_Store
LuaIOS.xcodeproj/project.xcworkspace/xcuserdata/yibindong.xcuserdatad/UserInterfaceState.xcuserstate

LuaIOS.xcodeproj/xcuserdata/yibindong.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

LuaIOS.xcodeproj/project.xcworkspace/xcuserdata/tearsofphoenix.xcuserdatad/UserInterfaceState.xcuserstate
